PUBLIC_APP_NAME='Admin Panel'

PASSWORD_HASH=''
JWT_SECRET=''
WORKERS_ACCOUNT_ID=''
WORKERS_API_TOKEN=''
GUARD_TS_PUBLIC='1x00000000000000000000BB'  # Always passes
# GUARD_TS_PUBLIC='2x00000000000000000000BB'  # Always fails
GUARD_TS_SECRET=''
