---
// @ts-nocheck
import Layout from '../layouts/Layout.astro';
import WorkerStats from '../components/WorkerStats.svelte';

const pageTitle = 'Dashboard';
---

<Layout {pageTitle}>
    <main class="flex flex-1 flex-col gap-9 mx-12 my-6 pt-25">
        <WorkerStats client:only="svelte" />
    </main>
</Layout>
